*{
    margin: 0px;

    padding: 0px;

  font-family: "Roboto Condensed", sans-serif;

}

#banner{
    background: linear-gradient(rgba(0,0,0,0.5),#a65412),url(../b2.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.banner-text{
    text-align: center;
    color: #fff;
    padding-top: 180px;
}

.banner-text h1{
    font-size: 130px;
    font-family: "Roboto Condensed", sans-serif;
}

.banner-text p{
    font-size: 20px;
    font-style: italic;
}

#sideNav{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #a65412;
    z-index: 2;
    transition: 0.3s;
}

nav ul li{
    list-style: none;
    margin: 50px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
}

#menuBtn{
    width: 50px;
    height: 50px;
    background: #a65412;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}

#menuBtn img{
    width: 20px;
    margin-top: 15px;
}